*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: hidden;

}
.nav{
    width: 100%;
}
.navContainer{
    width: 100vw;
    /* background-color: rgb(116, 182, 160); */
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);

    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

#navList{
    width: 100%;
    padding: 15px;
    list-style: none;
    font-size: 3.8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo{
    font-size: 4.5vh;
    color:azure;
    
}
a{
    text-decoration: none;
    color: azure;
}

#navItem{
    display: flex;
    gap: 40px;
}

.contentBox{
    width: 70%;

}

.footerbox{
    width: 100vw;
    min-height: 30px;
    font-size: 20px;
    text-align: center;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    color: azure;
}